
<div class="container-fluid example-wrapper">
      <div class="row">
        <div class="col-xs-12 col-sm-4 example-col">
          <p>Country:</p>
          <kendo-dropdownlist
            [data]="dataCategory"
            [value]="selectedCategory"
            [defaultItem]="defaultItemCategories"
            textField="categoryName"
            valueField="categoryId"
            (valueChange)="handleCategoryChange($event)"
          >
          </kendo-dropdownlist>
        </div>
        <div class="col-xs-12 col-sm-4 example-col">
          <p>State:</p>
          <kendo-dropdownlist
            [disabled]="isDisabledProducts"
            [defaultItem]="defaultItemProducts"
            [data]="dataResultProducts"
            [value]="selectedProduct"
            textField="productName"
            valueField="productId"
            (valueChange)="handleProductChange($event)"
          >
          </kendo-dropdownlist>
        </div>
        <div class="col-xs-12 col-sm-4 example-col">
          <p>City:</p>
          <kendo-dropdownlist
            [disabled]="isDisabledOrders"
            [defaultItem]="defaultItemOrders"
            [data]="dataResultOrders"
            [value]="selectedOrder"
            textField="orderName"
            valueField="orderId"
            (valueChange)="handleOrderChange($event)"
          >
          </kendo-dropdownlist>
        </div>
      </div>
    </div>